body {
  font-family: 'Open Sans', sans-serif;
}
footer .footer-above {
  text-align: center;
  color: #ffffff;
  background-color: #00719c;
}
footer .footer-above .director-link {
  color: #ff9000;
}
footer .footer-below {
  text-align: center;
  color: #ffffff;
  background-color: #00415a;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer-below .copyright-text {
  margin: 0;
}
footer .footer-below .copyright-text a {
  color: #009bd6;
}
.ghost-white-button {
  border: 2px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 200;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
.ghost-white-button:hover {
  background-color: #ffffff;
  color: #0095ff;
  border-color: #ffffff;
}
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0095ff;
  padding: 10px;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
@media (max-width: 768px) {
  .card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.card .card-img {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card p {
  color: #ffffff;
  margin-bottom: 10px;
}
#central-a-contest {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 25px 0 25px 0;
}
@media (max-width: 768px) {
  #central-a-contest {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  #central-a-contest {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
#central-a-contest .section-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
#central-a-contest .tab-content {
  text-align: left;
}
#central-a-contest .tab-content h3 {
  font-weight: 700;
}
@media (max-width: 768px) {
  #central-a-contest .tab-content h3 {
    text-align: center;
  }
}
#central-a-contest .nav-pills .active a {
  background-color: #009bd6;
}
@media (max-width: 768px) {
  #central-a-contest .nav-pills {
    padding-bottom: 10px;
  }
}
#central-a-contest #prep-course table .table-header {
  color: #ffffff;
  background-color: #00719c;
}
#central-a-contest #prep-course table .table-header th {
  font-weight: 200;
}
#central-a-contest #registration-form .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
#central-a-contest #registration-form input {
  border-radius: 0px;
}
#central-a-contest #registration-form input:focus {
  border: 2px solid #00719c;
  box-shadow: none;
}
#central-a-contest #registration-form .btn-submit {
  margin-top: 5px;
  border-radius: 0px;
  border: none;
  background-color: #00719c;
  color: #ffffff;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
#central-a-contest #registration-form .btn-submit:hover {
  background-color: #00415a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#central-a-contest #registration-form .nav-tabs {
  margin-top: 10px;
  font-size: 12px;
}
@media (max-width: 768px) {
  #central-a-contest #registration-form .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
  }
}
@media (max-width: 768px) {
  #central-a-contest #registration-form .nav-tabs li {
    float: none;
  }
}
#central-a-contest #registration-form .tab-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
footer .footer-above {
  text-align: center;
  color: #ffffff;
  background-color: #00719c;
}
footer .footer-above .director-link {
  color: #ff9000;
}
footer .footer-below {
  text-align: center;
  color: #ffffff;
  background-color: #00415a;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer-below .copyright-text {
  margin: 0;
}
footer .footer-below .copyright-text a {
  color: #009bd6;
}
.ghost-white-button {
  border: 2px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 200;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
.ghost-white-button:hover {
  background-color: #ffffff;
  color: #0095ff;
  border-color: #ffffff;
}
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0095ff;
  padding: 10px;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
@media (max-width: 768px) {
  .card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.card .card-img {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card p {
  color: #ffffff;
  margin-bottom: 10px;
}
.welcoming-section {
  color: #ffffff;
  background-color: #0095ff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .welcoming-section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.welcoming-section .contest-logo {
  width: 200px;
}
@media (max-width: 768px) {
  .welcoming-section .contest-logo {
    width: 60%;
  }
}
.welcoming-section .contest-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 3em;
}
.welcoming-section .contest-description {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 1.5em;
}
.welcoming-section #central-a-button {
  font-size: 20px;
}
.section-header {
  margin-bottom: 25px;
}
#upcoming-event-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  #upcoming-event-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
#archived-event-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  #archived-event-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}
footer .footer-above {
  text-align: center;
  color: #ffffff;
  background-color: #00719c;
}
footer .footer-above .director-link {
  color: #ff9000;
}
footer .footer-below {
  text-align: center;
  color: #ffffff;
  background-color: #00415a;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .footer-below .copyright-text {
  margin: 0;
}
footer .footer-below .copyright-text a {
  color: #009bd6;
}
.ghost-white-button {
  border: 2px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 200;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
.ghost-white-button:hover {
  background-color: #ffffff;
  color: #0095ff;
  border-color: #ffffff;
}
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0095ff;
  padding: 10px;
  transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
}
@media (max-width: 768px) {
  .card {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.card .card-img {
  width: 40%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.card p {
  color: #ffffff;
  margin-bottom: 10px;
}

/*# sourceMappingURL=app.css.map */
