@import 'variable.less';

#central-a-contest {
    .section-style();
    padding-top: 25px;
    padding-bottom: 25px;
    .section-header{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}