@import 'variable.less';


// Main Site Style
#central-a-contest-section {
    color: @white;
    background-color: @main-theme;
    .section-header-style();
    #contest-logo{
        width: 200px;
        @media (max-width: 768px) {
            width: 60%;
        }
    }
    #contest-title{
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 3em;
    }
    #contest-description{
        margin-bottom: 20px;
        margin-top: 0px;
        font-size: 1.5em;        
    }
    #central-a-button{
        font-size: 20px;

    }
}

.section-header{
    margin-bottom: 25px;
}
#upcoming-event-section {
    .section-style();
    
}

#archived-event-section {
    .section-style();
}

// End Main Site Style